# --------------------
# PostgreSQL (exchanger)
# --------------------
DB_HOST=localhost
DB_PORT=5432
DB_USER=exchanger
DB_PASSWORD=exchanger
DB_NAME=exchanger

# --------------------
# gRPC
# --------------------
GRPC_PORT=50051